blueprint.json
{
    "name": "LOOP",
    "flow": [
        {
            "id": 3,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 2,
                "sheetId": "Respostas ao formulário 1",
                "__IMTCONN__": 3083395,
                "spreadsheetId": "/1FXYsE7t9XVDSl_29fxyJd4ekNSuO7mREbXphg6qbbBc",
                "tableFirstRow": "A1:F1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Respostas ao formulário 1"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (jeanfstavares@gmail.com)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "DadosPessoas"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Carimbo de data/hora (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Nome: (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "E-mail: (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Feedback: (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Avaliação (1 a 5) :  (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "regexp:AdvancedParser",
            "version": 1,
            "parameters": {
                "global": false,
                "multiline": false,
                "sensitive": true,
                "singleline": false,
                "advancedParser": true,
                "continueWhenNoRes": false
            },
            "filter": {
                "name": "Verificação de Nome e E-mail",
                "conditions": [
                    [
                        {
                            "a": "{{3.`2`}}{{3.`1`}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "text": "{{3.`2`}}",
                "pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    },
                    {
                        "name": "advancedParser",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 3084214
                            },
                            "filter": {
                                "name": "Avaliação entre 4 e 5",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`4`}}",
                                            "b": "4",
                                            "o": "number:equal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{3.`4`}}",
                                            "b": "5",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{3.`2`}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "<p>Olá <b>{{3.`1`}}</b>,</p>\n\n<p>Esperamos que esta mensagem o encontre bem.</p>\n\n<p>Gostaríamos de agradecer sinceramente pelo seu feedback recente e pela avaliação positiva de rating <b>{{3.`4`}}</b> que você nos deu. Sua opinião é muito importante para nós e estamos felizes em saber que você teve uma experiência satisfatória com nossos serviços.</p>\n\n<p>Se houver algo mais que possamos fazer para melhorar ainda mais sua experiência, por favor, não hesite em nos informar. Estamos sempre aqui para ajudar e garantir que você receba o melhor atendimento possível.</p>\n\n<p>Mais uma vez, obrigado pelo seu tempo e pelo seu feedback valioso.</p>\n\n<p>Atenciosamente,<br>\nImmigration and Nationality Law Group - INLG.",
                                "subject": "Agradecemos pelo Seu Feedback!",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (jeanfstavares@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 3084214
                            },
                            "filter": {
                                "name": "Avaliação entre 1 e 2",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`4`}}",
                                            "b": "1",
                                            "o": "number:equal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{3.`4`}}",
                                            "b": "2",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "support@inlg.com"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "<p>Olá equipe de suporte,</p>\n\n<p>Gostaríamos de informar sobre uma recente avaliação recebida com rating <b>{{3.`4`}}</b> de um de nossos clientes.</p>\n\n<p><b>Detalhes da Avaliação:</b><br>\n<b>Nome:</b> {{3.`1`}}<br>\n<b>Email:</b> {{3.`2`}}<br>\n<b>Feedback:</b> {{3.`3`}}<br>\n<b>Avaliação:</b> {{3.`4`}}</p>\n\n<p>Por favor, entrem em contato com o cliente para entender melhor os problemas que ele enfrentou e como podemos resolver essa situação. É fundamental que demonstremos nosso comprometimento em melhorar a experiência de nossos clientes.</p>\n\n<p>Atenciosamente,<br>\nImmigration and Nationality Law Group - INLG.",
                                "subject": "Avaliação Negativa Recebida - Ação Necessária",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (jeanfstavares@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 3084214
                            },
                            "filter": {
                                "name": "Avaliação fora do padrão.",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`4`}}",
                                            "b": "5",
                                            "o": "number:notequal"
                                        },
                                        {
                                            "a": "{{3.`4`}}",
                                            "b": "4",
                                            "o": "number:notequal"
                                        },
                                        {
                                            "a": "{{3.`4`}}",
                                            "b": "3",
                                            "o": "number:notequal"
                                        },
                                        {
                                            "a": "{{3.`4`}}",
                                            "b": "2",
                                            "o": "number:notequal"
                                        },
                                        {
                                            "a": "{{3.`4`}}",
                                            "b": "1",
                                            "o": "number:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{3.`2`}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "<p>Olá <b>{{3.`1`}}</b>,</p>\n\n<p>Esperamos que esta mensagem o encontre bem.</p>\n\n<p>Percebemos que você atribuiu uma avaliação fora do padrão no nosso formulário recente. Nosso sistema de avaliação aceita notas entre 1 e 5.</p>\n\n<p>Gostaríamos de pedir que você refaça o formulário, utilizando a escala correta. Sua opinião é extremamente valiosa para nós e queremos garantir que todos os feedbacks sejam contabilizados adequadamente.</p>\n\n<p>Você pode acessar o formulário novamente através do seguinte link: <a href=\"https://forms.gle/Y6ZmgqCULq882Mvh8\">Refazer Formulário</a></p>\n\n<p>Agradecemos pela sua compreensão e pelo seu tempo em nos ajudar a melhorar nossos serviços.</p>\n\n<p>Atenciosamente,<br>\nImmigration and Nationality Law Group - INLG.",
                                "subject": "Solicitação para Refazer o Formulário de Avaliação",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (jeanfstavares@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}